.DS_Store
# Ignore folders
Output/
.ipynb_checkpoints
__pycache__/
.vscode
temp/
config.yml
merged
dataBases/
config
**/[C]onfig*
temp_*
~$*
Figure_Distributions_*
out.txt
output.txt
analyses/
analyses_*
output__*
slurm-*
out-*
masks_*
mask_*
tests/
test*/
test*
filtered_images_*/
kk*
test_simulation/
database*
OneDrive*/
src/__pycache__/
*.tif
*.lif
*.jpg
*.pdf

spatio_temporal_models/
gene_sequences/
*.dna
*particle*.png
dev/
human_genome/
*.cds.all.fa
processing_long_movies/
data/